/* draggable items and placeholders */

.category-icon {
	border-radius: 100%;
	height: 45px;
	width: 45px;
	display: block;
	margin: auto;
	opacity: 0.5;
	}

	
.grid__item {
	font-size: 15pt;
	display: inline-block;
	border-radius: 6px;
	width: 100px;
	height: 100px;
	background: #000000;
	color: #76737C;
	z-index: 1;
	text-align: center;
	vertical-align: middle;
	padding-top: 25px;
	margin: 5px;
}

#category-subtitle {
	background: black;
	color: white;
	font-size: 15pt;
	padding-bottom: 0.5em;
}

.grid__item:hover, .grid__item:active {
	color: #fff;
	cursor: pointer;
}

.grid__item:hover img {
	opacity: 1;
}

/* Selectors definition */

.dropdown{
  margin-left:20px;
  float: left;
  width: 235px;
  padding:0 0 0 20px;
  border-radius:0 4px 4px 0;
  cursor: pointer;
  height:58px;
  border-left:1px solid #fff;
  position: relative;
}
.dropdown:hover{
	background: url("../images/pic05.jpg");
}
.dropdown:after{
  font-size: 18px;
  position: absolute;
  right:20px;
  top:18px;
  display: block;
}

.menu{
  position: absolute;
  right:0;
  top:70px;
  width: 322px;
  cursor: pointer;
  opacity:0;
  background: transparent;
  border:1px solid #fff;
  border-radius:4px;
  -webkit-transition:all 0.8s;
  -moz-transition:all 0.8s;
  -ms-transition:all 0.8s;
  -o-transition:all 0.8s;
  transition:all 0.8s;
  z-index:5;
  overflow:hidden;
}
.menu li{
  padding: 10px 10px;
  border-bottom:1px dotted #fff;
  color:#fff; 
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  -ms-transition:all 0.3s;
  -o-transition:all 0.3s;
  transition:all 0.3s;
}
.menu li:hover{
  background: url("../images/pic05.jpg");
  padding-left:20px;
}
.menu li:last-child{
  border:none;
}

.showMenu{
   opacity:1;
}